.a{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    margin-left: 20px;
}
.b{
	float: left;
    line-height: 3.19rem;
    /* font-size: 18px; */
    background-color: #FF6600;
    width: 7px;
    height: 51px;

}
.c{
	text-align: center;
	line-height: 3.19rem;
	font-size: 13px;
	color: #999999;
}