.addnavwrap{
    width:63%;
    margin:150px auto;
}
.listcolor{
    color:red;
}
.listcolorwrap{
    padding:20px 0 20px 25px;

}
.editbtn{
    position:absolute;
    right:0;
    background:#23c0fa;
    border:none;
    height: 24px;
    width: 55px;
}

/*.youneed{*/
    /*-webkit-animation: bounceOutLeft 4s;*/
 /*}*/
/*.bounceOutLeft {*/
     /*animation-name: bounceOutLeft;*/
 /*}*/
/*@keyframes bounceOutLeft {*/
    /*20% {*/
        /*opacity: 1;*/
        /*transform: translate3d(20px, 0, 0);*/
    /*}*/

    /*to {*/
        /*opacity: 0;*/
        /*transform: translate3d(-2000px, 0, 0);*/
    /*}*/
/*}*/

